#pl-wrap{position:absolute;bottom:10px;right:10px;z-index:999999;}
#pl-btn{background:#04050A;border:1px solid rgba(255,184,0,0.5);border-radius:20px;padding:6px 14px;color:#FFB800;font-size:12px;font-weight:700;cursor:pointer;transition:all .2s;}
#pl-btn:hover{background:#FFB800;color:#000;}
